// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma.sass";

.container
  width: 100%
  margin: 4em;
  padding: 2em;